[user]
	name = jace-ys
	email = jaceys.tan@gmail.com
[alias]
	a = add
	aa = add --all
	ap = add --patch
	br = branch
	brd = branch -D
	c = commit
	co = checkout
	cob = checkout -b
	cp = cherry-pick
	d = diff
	l = log --oneline
	p = push
	pforce = push --force-with-lease
	rb = rebase
	rs = reset
	s = status
[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
	excludesfile = /Users/jaceys/.gitignore
[interactive]
	diffFilter = diff-so-fancy --patch
[pull]
	rebase = true
[fetch]
	prune = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

# This next lines include Netlify's Git Credential Helper configuration in your Git configuration.
[include]
  path = /Users/jaceys/Library/Preferences/netlify/helper/git-config
